<div
  class="poke-detail poke-container"
  *ngIf="pokemon"
>
  <a
    class="poke-detail__back-button"
    [routerLink]="['']"
  >
    << GO BACK
  </a>
  <div class="poke-detail__header">
    <a
      [ngClass]="{
        'poke-detail__navi-link': true,
        'poke-detail__navi-link--disabled': previousId === 0
      }"
      [routerLink]="['/pokemon', previousId]"
    >
      <
    </a>
    <span class="poke-detail__name">
      {{ pokemon.name }}
    </span>
    <a
      [ngClass]="{
        'poke-detail__navi-link': true,
        'poke-detail__navi-link--disabled': nextId === 0
      }"
      [routerLink]="['/pokemon', nextId]"
    >
      >
    </a>
  </div>
  <img
    ngClass="poke-detail__image"
    src="{{ pokemon.image }}"
  >
  <ul>
    <li
      class="poke-detail__stat-row"
      *ngFor="let stat of pokemon.stats"
    >
      <span>
        {{ stat.stat.name | uppercase }}
      </span>
      <span>
        {{ stat.base_stat }}/{{ stat.effort }}
      </span>
    </li>
  </ul>
</div>
